@fortawesome/free-solid-svg-icons
@fortawesome/react-fontawesome
chart.js
cra-template
lucide-react
react
react-chartjs-2
react-dom
react-icons
react-router-dom
react-scripts
recharts
web-vitals
jspdf